$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


h1 {
  font-size: 35px;
  text-align: center;
}

.btn-primary {
  float:left;
  margin-top: 15px;
  margin-left: 25px;
}

.btn-danger {
  font-weight: bolder;
  color: black;
  margin-left: auto;
  align-items: center;
}

.banner {
  height: 50px;
  width: 200px;
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
}

.board {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  display: block;
  font-size: 10em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  height: 199px;
}


.field{
  border: 5px solid black;
  display: block;
  height: 100%;
}
