$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



h1 {
  font-size: 35px;
  text-align: center;
}

#sign-in {
  display: block;
  margin: 20px auto;
}

#sign-up {
  display: block;
  margin: 20px auto;
}

#show-game {
  display: none;
}

.btn-create {
  margin: 20px auto;
  display: none;
  max-width: 150px;
}





.btn-primary {
  float:left;
  margin-top: 15px;
  margin-left: 25px;
}

.btn-danger {
  font-weight: bolder;
  color: black;
  margin-left: auto;
  align-items: center;
}

.banner {
  height: auto;
  width: auto;
  margin: 0 auto;
  display: none;
  margin-top: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
}

.winner {
  height: auto;
  width: auto;
  margin: 0 auto;
  display: none;
  margin-top: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
}

.board {
  height: 600px;
  width: 600px;
  margin: 0 auto;
  display: none;
  font-size: 10em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  height: 199px;
}


.field{
  border: 5px solid black;
  display: block;
  height: 100%;
}
